.wrapper {
    display: flex;
}

.bg-basic {
    background: #006ead;
}

.sidebar {
    z-index: 1030;
    overflow-y: auto;
    position: fixed;
    top: 58px;
    width: 200px;
    height: 100vh;
    transition: .3s;
    box-shadow: 4px 1px #29292905, 4px 2px #2525250a !important;
    background: #ffffff;
}

.content {
    margin-top: 105px;
    margin-left: 200px;
    margin-bottom: 50px;
}

.top-navbar {
    top: 58px;
}

.bottom-navbar,
.top-navbar {
    background: #ffffff;
    position: fixed;
    z-index: 1000;
    left: 200px;
    right: 0;
}

.bottom-navbar {
    bottom: 0;
}

.bottom-navbar .nav-link,
.top-navbar .nav-link {
    color: rgb(61, 61, 58);
}

.avatar {
    width: 20px;
    height: 20px;
    border-radius: 100%;
}

.border-top {
    border-bottom: 1px solid rgba(0, 0, 0, 0.329);
    box-shadow: 0px 1px rgba(0, 0, 0, 0.329), 0 0px 1px rgba(0, 0, 0, 0.329) !important;
}

.sidebar .nav-item a span {
    font-size: 14px;
}

.sidebar .nav-link {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    color: #616161;
    padding: .5rem .7rem;
}

.sidebar .nav-link:hover,
.sidebar .active {
    background: rgba(188, 193, 223, 0.534);
}

.sidebar .angle {
    display: inline-block;
    padding-right: 8px;
}

.dropdown-content {
    display: none;
}

.dropdown-content a {
    color: #3e464e !important;
    text-decoration: none;
    padding: .5rem 1.6rem;
    display: block;
}

.dropdown-content a:hover {
    font-weight: 600;
    background: #f5f5dc;
}

.k90deg {
    transition: .3s;
    transform: rotate(90deg);
}

.text-light,
.navbar .navbar-brand {
    color: #fff8f2;
}

.text-light a.nav-link {
    color: #fff8f2;
}

.sidebar .nav-link:hover {
    transition: .3s;
}

.border-none {
    border: none;
}

.border-rad-normal {
    border-radius: 1em;
}

.bg-mi-transparent {
    background: #aeaeb1;
}

input.border-none:focus {
    color: #495057;
    background-color: rgba(255, 255, 255, 0.925);
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.1rem rgba(0, 123, 255, 0.25);
}

button.border-none:focus {
    border-radius: 1em;
    background-color: rgba(187, 187, 187, 0.6) !important;
    color: #495057;
    border: none;
    outline: 0;
}

.border-left-normal {
    border-radius: 1em 0 0 1em;
}

.border-rigth-normal {
    border-radius: 1em !important;
}

.sidebar .active {
    font-weight: 700;
    color: #0071b3;
}

.sidebar .nav-item .nav-link span:nth-child(3) {
    padding-left: 8px;
}

.nofications .dropdown-item {
    border-top: 1px solid rgba(153, 153, 153, 0.158);
    margin-top: 1em;
    width: 350px;
}

.nofications img {
    margin-right: 15px;
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.text-mutee {
    font-size: small;
    color: #aaaaaa
}

sup.badge {
    left: 0px;
    padding: 3px;
    margin: 0;
    top: -10px;
    font-size: x-small !important;
}

.top-group-btn {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    right: 0;
    left: 0;
}

.top-group-btn .card-header {
    display: flex;
    background-color: #fff;
}

.create-btn {
    margin-left: auto;
}

.create-btn .input-group-prepend a {
    font-weight: 500;
    text-decoration: none;
    text-transform: capitalize;
    color: #393242;
    display: block;
    padding: 10px 10px;
    text-align: end;
    width: 100%;
    background: rgba(0, 0, 0, 0);
}

.create-btn .bg-mi-transparent {
    background: rgba(153, 153, 153, 0.158);
}

.dashboard-card .card {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.344), 0 2px 2px 0 rgba(0, 0, 0, 0.261);
}

.sidebar .nav-item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.082);
}

.dashboard-card .card-title {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(68, 67, 73);
}